<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <appSettings>
        <!-- 窗口位置和大小设置 -->
        <add key="MainWindowLeft" value="100" />
        <add key="MainWindowTop" value="100" />
        <add key="MainWindowWidth" value="1050" />
        <add key="MainWindowHeight" value="700" />
    </appSettings>
    <connectionStrings>
        <!-- 数据库连接字符串 -->
        <add name="SecurityConnection" connectionString="Data Source=SecurityScanner.db;" providerName="System.Data.SQLite" />
    </connectionStrings>
    <system.data>
        <!-- ADO.NET 数据提供程序 -->
        <DbProviderFactories>
            <!-- SQLite 数据提供程序 -->
            <remove invariant="System.Data.SQLite" />
            <add name="SQLite Data Provider" invariant="System.Data.SQLite" description=".NET Framework Data Provider for SQLite" type="System.Data.SQLite.SQLiteFactory, System.Data.SQLite" />
        </DbProviderFactories>
    </system.data>
</configuration>